<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feed My Cat</title>
    <style>
        html,
        body {
            font-family: Helvetica;
            display: block;
            margin: 0px auto;
            text-align: center;
            background-color: #39adff;
        }
        
        #container {
            height: 100%;
            margin-left: 5px;
            margin-top: 20px;
            padding: 10px;
        }
        
        .button {
            background-color: #005be2;
            border: none;
            font-size: 15px;
            color: white;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
        }
        
        .message {
            display: block;
            color: #004888;
            margin: 20px 0;
            font-size: 22px;
        }
        
        #txt_form {
            margin: 50px 0 10px;
        }
        
        input[type='text'] {
            height: 30px;
            width: 220px;
            font-size: 22px;
        }
        
        .info {
            margin-top: 50px;
            padding-left: 30px;
            text-align: left;
        }
        
        b {
            color: #c6e4ff;
        }
        
        ul {
            padding: 0;
        }
        
        li {
            list-style: none;
            font-size: 18px;
            margin: 10px;
        }
        
        li a,
        li a:visited,
        li span {
            color: #004888;
        }
    </style>
    <script>
        function success(e) {
            document.querySelector('#container .message span').textContent = e.target.responseText;
        };

        function feed() {
            var request = new XMLHttpRequest();
            request.open("GET", '/feed', true);
            request.send("feed");
            request.onload = success;
        }
    </script>
</head>

<body>
    <H1><b>Feed my cat</b></H1>
    <div id="container">
        <span class="message">
            <span><%=count %></span> times people fed my cat! You can feed too!
        </span>
        <input class="button" type="submit" value="Feed Me" onclick="feed()">
        <form id="txt_form" name="frmText" action=<%=mewEndpoint %> method="POST">
            <input type="text" name="massage" maxlength="255">
            <input class="button" type="submit" value="Mew">
        </form>
        <section class="info">
            <b>Few last messages: </b>
            <ul>
                <% for(var i=0; i < recentMessages.length;i++) {%>
                    <li>
                        <span class="message-ip"><%=recentMessages[i].sender %></span>
                        <span class="message-text"><%=recentMessages[i].text %></span>
                    </li>
                    <%} %>
            </ul>
        </section>
        <section class="info">
            <b>Visit link for more: </b>
            <ul>
                <% for(var i=0; i<links.length;i++) {%>
                    <li><a href=<%=links[i].url %>><%=links[i].text %></a></li>
                    <%} %>
            </ul>
        </section>
    </div>
</body>

</html>